@import url(/assets/css/root.css);
@font-face {
    font-family:'gilroy';
    src: url("/assets/font/gilroy/Gilroy-Regular.ttf");
}
@font-face {
    font-family:'gilroy_1';
    src: url("/assets/font/gilroy/Gilroy-SemiBold.ttf");
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
.pt100{
    padding-top: 150px;
}
.img_pstn{
    position: absolute;
    top: 36%;
    right: 0;
}
.bttn_get{
    border-radius: 5px;
    background: #F05830;
    padding: 24px 48px;
    border: none;
}
.bttn_get:hover{
    background-color: #F66F4D;
}
.bttn_watch{
    padding: 11px 22px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
}
.bttn_watch:hover{
    background-color: #F05830;
}
.pt{
    margin-top: 10px;
}
.ms-50{
    margin-left: 120px;
}
.txt_clr{
    color: #fff;
}
.txt_clr:hover{
    color: black;
}
.txt_btn{
    color: #0d0d0d;
}
.txt_btn:hover{
    color: white;
}
.icon{
    cursor: pointer;
}
.icon:hover svg path{
    fill: #F05830;
}
.icon:hover svg circle {
    stroke: #F66F4D;
}
.under_line::after{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #F66F4D;
    bottom: -5px;
    right: 50%;
}
.under_line:hover::after{
    width: 100%;
    right: 0;
    transition: 500ms linear;
    
}
.under_line:hover{
    -webkit-text-stroke: 1px #F66F4D;
}
.bttn_nav{
    padding: 5px 5px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
}
.nav-lines{
    border: 2px solid #236e57;
    display: flex;
    width: 50px;
    margin-bottom: 10px;
    border-radius: 100px;
}
/* siddharth */
.btn-choose {
    padding: 24px 60px;
    border-radius: 5px;
    border: 1px solid #f05830 !important;
  }
  .btn-choose:hover {
    background-color: #f05830;
    color: white;
    transition: all 300ms linear;
  }
  .img-left {
    position: absolute;
    top: 10%;
    left: 0;
  }
  .img-right {
    position: absolute;
    right: 0;
    top: 70%;
  }
  .w100 {
    width: 100%;
  }
  .bg-img {
    background-image: url("/assets/img/bg-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .mailbox {
    border-radius: 5px;
    background: rgba(251, 253, 255, 0.07);
    width: 40%;
    border: 1px solid white;
  }
  .inpt {
    padding: 12px 6px;
    width: 100%;
    border: none !important;
    background: none;
    color: #fff !important;
    outline: none !important;
  }
  .sign_btn {
    margin-top: 5%;
    border: none;
    border-radius:5px;
    background: #f05830;
    padding: 17px 65px;
    font-family: "Plus Jakarta Sans";
  }
  .sign_btn:hover {
    background-color: #fff !important;
    color: #f05830 !important;
    transition: all 300ms linear !important;
  }
  /* card */
  .card {
    display: flex;
    width: 100%;
    padding: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    border: none !important;
    cursor: pointer;
    background-color: transparent !important;
    cursor: pointer;
  }
  .card:hover {
    border-radius: 12px;
    background: linear-gradient(
      135deg,
      rgba(255, 248, 241, 0.45) 0%,
      #fff8f2 45.62%,
      #e0fbe5 100%
    );
    box-shadow: 25px 25px 100px 0px rgba(166, 161, 157, 0.2);
  }
  ::placeholder{
    color: white;
  }
@media (max-width:992px) {
    .nav_bar {
      position: fixed;
      top: 0 !important;
      left: -100%;
      z-index: -1;
      width: 100%;
      height: 100vh;
      background-color: white;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: 300ms linear;
    
    }
    .left-0{
        left: 0;
    }
    .overflow_hidden{
        overflow: hidden !important;
        height: 100vh;
    }
}
@media (min-width:320px) {
    .mailbox {
        width: 100%;
      }
    .dnone{
        display: none;
    }
    .ms-50{
        margin-left: 0;
    }
    .pt100 {
        padding-top: 20px;
    }
    .w_80{
        width: 90%;
    }
    .img_pstn{
        position: absolute;
        top: 41%;
        right: 0;
    }
    .img_pstn_2{
        position: absolute;
        top: 12.5%;
        left: 15%;
    }
    .bttn_get{
        border-radius: 5px;
        background: #F05830;
        padding: 15px 90px;
        border: none;
    }
    .wdth_span{
        width: 30%;
    }
    .wdth_span_1{
        margin-left: 15%;
        width: 50%;
    }
    .wdth_span_2{
        width: 40%;
    }
    .wdth_span_3{
        margin-left: 18%;
        width: 40%;
    }
    .img-right {
        position: absolute;
        right: 0;
        top: 10%;
    }
    .card {
        width: 100%;
        padding: 10px;
        gap: 24px;
      }
      .dnone_1{
        display: unset;
    }
    .dnone_2{
        display: none;
    }
}
@media (min-width:576px) {
    .img_pstn_2{
        position: absolute;
        top: 22%;
        left: 40%;
    }
    .w_80{
        width: 40%;
    }
    .img_pstn_2{
        display: none;
    }
    .dnone{
        display: unset;
    }
    .dnone_1{
        display: none;
    }
    .img_pstn {
        position: absolute;
        top: 25%;
        right: 0;
    }
    .bttn_get{
        padding: 24px 48px;
    }
    .img-right {
        position: absolute;
        right: 0;
        top: 33%;
    }
    .dnone_2{
        display: unset;
    }
}
@media (min-width:768px) {
    .sign_btn {
        margin-top: 2%;
        border-radius: 5px;
        padding: 24px 65px;
        margin-left: -10%;
    }
    .mailbox {
        width: 100%;
      }
      .dnone_2{
        display: unset;
    }
}
@media (min-width:992px) {
    .img-left {
        position: absolute;
        top: 27%;
        left: 0;
      }
      .img-right {
        position: absolute;
        right: 0;
        top: 20%;
      }
      .w100 {
        width: 50%;
      }
      .dnone_2{
        display: unset;
    }
    .pt100 {
        padding-top: 120px;
    }
    .img_pstn {
        position: absolute;
        top: 43%;
        right: 0;
    }
    .wdth_span{
        width: 15%;
    }
    .wdth_span_1{
        margin-left: 7%;
        width: 20%;
    }
    .wdth_span_2{
        margin-left: 9%;
        width: 20%;
    }
    .wdth_span_3{
        margin-left: 7%;
        width: 20%;
    }
    .dnone_1{
        display: none;
    }
    .sign_btn {
        margin-top: 0;
        border: none;
        border-radius: 0 5px 5px 0;
        padding: 24px 65px;
        margin-left: -10%;
    }
    .card {
        padding: 80px;
      }
      .bttn_get{
        padding: 24px 48px;
    }

}
@media (min-width:1400px) {
    .img_pstn{
        position: absolute;
        top: 30%;
        right: 0;
    }
    .w_80{
        width: 40%;
    }
    .img-left {
        position: absolute;
        top: 15%;
        left: 0;
    }
    .img-right {
        position: absolute;
        right: 0;
        top: 25%;
    }
    .mailbox {
        width: 50%;
      }
}